In [2]:
list_1=['kavi','ravi','savi','goal']
list_2=list_1
print(list_1)
print(list_2)

['kavi', 'ravi', 'savi', 'goal']
['kavi', 'ravi', 'savi', 'goal']

In [3]:
list_1[0]='rohit' 
print(list_1)
print(list_2)

['rohit', 'ravi', 'savi', 'goal']
['rohit', 'ravi', 'savi', 'goal']

# Tuples

In [4]:
tuple=('kavi','ravi','savi')
print(tuple)

('kavi', 'ravi', 'savi')

In [7]:
tuple_1=('kavi','ravi','savi','goal')
tuple_2=tuple_1
print(tuple_1)
print(tuple_2)

('kavi', 'ravi', 'savi', 'goal')
('kavi', 'ravi', 'savi', 'goal')

In [10]:
tuple_1=('kavi','ravi','savi','goal') # Because tuples are immutable we can't modify it...
tuple_2=tuple_1 # we can append can't add..
tuple_1[0]='rohit'
print(tuple_1)
print(tuple_2)

TypeError: 'tuple' object does not support item assignment

In [11]:
tuple_1=('kavi','ravi','savi','goal') # we can't insert any value in tuples...
tuple_1.insert(1,'Amit')
print(tuple_1)

AttributeError: 'tuple' object has no attribute 'insert'

# Sets

In [21]:
set={'kavi','ravi','savi'} # in Sets the order could be changed..
print(set)

{'savi', 'kavi', 'ravi'}

In [22]:
set={'kavi','ravi','savi'} # in Sets the order could be changed..
print(set)

{'savi', 'kavi', 'ravi'}

In [23]:
set={'kavi','ravi','savi','ravi'}
print(set)

{'savi', 'kavi', 'ravi'}

In [24]:
print('ravi' in set)

True

In [27]:
course_1={'History','Physics','Math','Science'}
course_2={'History','Physics','Art','Design'}
print(course_1.intersection(course_2))

{'Physics', 'History'}

In [29]:
print(course_1.difference(course_2))

{'Science', 'Math'}

In [30]:
print(course_1.union(course_2))

{'Science', 'History', 'Math', 'Art', 'Physics', 'Design'}

# how to create empty list,tuples,sets

In [38]:
empty_list=[]
empty_list=list() # its callable 
print(empty_list)

[]

In [37]:
empty_tuple=()
#empty_tuple=tuple() # Because of 'tuple' object is not callable
print(empty_tuple)

()

In [36]:
empty_set={}        # its not a empty set its empty dictionary
#empty_set=set() # Because of set object is not callable
print(empty_set)

{}